exportPattern("^scrat.[[:alpha:]]+")

import("biomaRt")
import("VGAM")
import("Seurat")

importFrom("ape", "nj", "plot.phylo")
importFrom("fastICA", "fastICA")
importFrom("scatterplot3d", "scatterplot3d")
importFrom("tsne", "tsne")
importFrom("pixmap","pixmapIndexed","addlogo")
importFrom("igraph", "graph.adjacency", "minimum.spanning.tree", "layout_with_kk", "V", "V<-", "E", "E<-")
importFrom("fdrtool", "fdrtool")
importFrom("scater", "calculateQCMetrics","isOutlier","normalize")
importFrom("SingleCellExperiment", "SingleCellExperiment")
importFrom("BiocGenerics", "sizeFactors")
importFrom("scran", "computeSumFactors","cyclone")
importFrom("limma", "removeBatchEffect")
importFrom("Rcpp", "sourceCpp")
importFrom("RcppParallel" ,"RcppParallelLibs")
importFrom("gridExtra", "grid.arrange")
importFrom("dplyr", "top_n", "group_by")
useDynLib(scrat, .registration=TRUE)
